<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.trentguillory.Pushup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>laddertest</string>
			</array>
		</dict>
	</array>
	<key>GITHUB_APP_CLIENT_ID</key>
	<string>$(GITHUB_APP_CLIENT_ID)</string>
	<key>GITHUB_APP_SECRET</key>
	<string>$(GITHUB_APP_SECRET)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
